<h2 style="font-family: 'times new roman'; text-align: center;"> Instant Registration </h2>
<h5 style="font-family: 'times new roman'; text-align: center;"> (Premium Fee is <%= @fee %>) </h5>

<%= render 'form', button: "Create" %>