<div class='footer-site'>
  <span class='actions-container-foot'>
  <a href = "#", target = "_blank", onclick= "window.location.href = 'https://www.facebook.com/groups/realpakptc/'", class: 'btn btn-warning'> Contact </a>
  </span>
</div>